# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
node_modules/
*.toml

# Datos
*.db
*.sqlite
*.csv

# Resultados
*.json
*.png
results/
*.js

#Temp
*.tmp
*.ini

# Env
.env
venv/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db